/*global*/
*{
    margin: 0;
}
body{
    background-image: url(img/celsius-convert.jpg);
    background-size: cover
}
button{
    font-size: large;
}



/*main*/
.converter{
    text-align: center;
    line-height: 3;
}
@media(max-width:768px){
    .converter{
        text-align: center;
        line-height: 3;
    }
}
